bcrypt==3.1.7
cffi==1.14.0
cryptography==2.9.2
enum34==1.1.10
et-xmlfile==1.0.1
future==0.18.2
ipaddress==1.0.23
jdcal==1.4.1
netmiko==2.1.0
openpyxl==2.6.4
paramiko==2.7.1
pycparser==2.20
PyNaCl==1.4.0
pyserial==3.4
PyYAML==5.3.1
scp==0.13.2
six==1.15.0
textfsm==0.4.1
XlsxWriter==1.2.9
